<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <h1>My Collection</h1>
</head>
<body>
12345
Должен выводить список публикаций и иметь ссылку на страницу изменения личных данных
кнопка изменить личные данные => переход на change_profile.html
фио
год рождения
имейл
пароль
юзернейм

<form action="{% url 'register' %}" method="post">
        <div>{{ form.email }}</div>
        <div>{{ form.username }}</div>
        <div>{{ form.password1 }}</div>
        <div>{{ form.password2 }}</div>
               {% csrf_token %}
        <div><button type="submit" class="button">posts</button></div>
    </form>
    <div><form action="http://127.0.0.1:8000/users/login">
            <button type="submit">change profile</button>
        </form></div>
        <form action="http://127.0.0.1:8000/users/login">
            {{ form.image }}
            <button type="submit">back</button>
        </form>
</body>

</html>