<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <h1>My Collection</h1>
</head>
<body>
12345
Должен выводить список публикаций и иметь ссылку на страницу изменения личных данных
кнопка изменить личные данные => переход на change_profile.html
фио
год рождения
имейл
пароль
юзернейм
<h2>Данные {{ profile.username }}</h2>
<h5>
    о себе: {{ profile.bio }}<br>
    профиль facebook: {{ profile.facebook }}<br>
    профиль twitter: {{ profile.twitter }}<br>
    профиль instagram: {{ profile.instagram }}<br>
</h5>

<a href="{% url 'profile_change' profile.id %}">change profile</a>


</body>

</html>