<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Логин</title>
</head>

    <body>
        <main>
            <div class="login-form-container">
            <h1 class="form-title">Войти</h1>
                <div>
                {% if form.errors %}
                        <p>{{ form.errors.error }}</p>
                    {% endif %}

                    <form action="{% url 'login' %}" method="post">
                    {{ form }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success">Войти</button>
                    </form>
                    <a href="{% url 'password_reset' %}">Forgot password?</a>
                </div>
            </div>
        </main>