<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>User authenticate</title>
</head>
    <div style="width: 100%; height: 100%; position: relative; background: white">
        <div style="width: 949px; height: 809px; left: 245px; top: 108px; position: absolute; background: #F8F8F8; border-radius: 53px"></div>
        <div style="width: 360px; height: 50px; left: 540px; top: 374px; position: absolute; background: white; border-radius: 10px"></div>
        <div style="left: 661px; top: 196px; position: absolute; color: black; font-size: 40px; font-family: SF Compact Display Medium; font-weight: 700; word-wrap: break-word">Войти</div>
        <div style="width: 360px; height: 50px; left: 540px; top: 294px; position: absolute; background: white; border-radius: 10px; border: 1px black solid"></div>
        <div style="width: 360px; height: 63px; padding: 10px; left: 540px; top: 741px; position: absolute; background: black; border-radius: 12px; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
            <div style="color: white; font-size: 18px; font-family: SF Compact Display Thin; font-weight: 400; word-wrap: break-word">Войти</div>
        </div>
        <div style="width: 57px; height: 27px; left: 553px; top: 306px; position: absolute; color: #CECECE; font-size: 20px; font-family: SF Compact Display Thin; font-weight: 400; word-wrap: normal">E-mail</div>
        <div style="width: 70px; height: 27px; left: 553px; top: 386px; position: absolute; color: #CECECE; font-size: 20px; font-family: SF Compact Display Thin; font-weight: 400; word-wrap: normal">Password</div>
    </div>
{% block content %}
{% endblock %}

</body>
</html>